/* Navbar Style */

.navbar{
    display: flex;
    justify-content: space-around;
    margin: 5%;
    align-items: center;  
}

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo > img{
    display: block;
    height: 100%;
    width: 100%;
}

.nav-logo > h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding-left: 8px;
}

.nav-btn{
    color: white;
    background-color: orange;
    padding: 16px 48px;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.anchor>a:hover{
    box-shadow: 0px 2px 6px 2px;
    border-radius: 12px;
    margin: 10px;
}

.anchor>a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5px;
}

.a1{
    color: orange;
    margin: 10px;
}
.a2{
    color: aqua;
    margin: 10px;
}
.a3{
    color: #05D4DF;
    margin: 10px;
}
.a4{
    color: rgb(159, 247, 29);
    margin: 10px;  
}


/* banner style */

.banner-content{
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.banner{
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 200px;
    margin-top: 50px;
}

.banner-title{
    font-size: 56px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner-description{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(87, 86, 86);
}

.btn-primary{
    padding: 16px 45px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

.title-color{
    color: orange;
}
.title-color2{
    color: skyblue;
}

#image{
    margin-right: 141px;
}

/* main- Section-2 Style*/

.container-title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 46px;
    color: rgb(32, 32, 32);
}

.section-2{
    margin: 5%;
    background-image: url("/assets/bg.png");
    background-repeat: no-repeat;
}

.container{
    margin: 5%;
    display: flex;
    column-gap: 29px;
    justify-content: center;
}

.container>:nth-child(1){
    border: 1px solid #DEF5FF;
    background-image: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 1)); 
}
.container>:nth-child(2){
    background-image: linear-gradient(to top, white, rgba(255, 244, 220, 1));
    border: 1px solid #FFF4DC;

}
.container>:nth-child(3){
    background-image: linear-gradient(to top, white, rgba(242, 232, 255, 1));
    border: 1px solid #F2E8FF;

}

.card{
    width: 370px;
    height: 460px;
    padding: 52px 20px;
    border-radius: 18px;
    text-align: center;
}

.card > h4{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(54, 53, 53);
}
.card > p{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #808080;
}
.card>a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card, .a1{
    color: #64C8FF;   
}
.card, .a2{
    color: #F0AA00;
}
.card, .a3{
    color: #8e10fc;
}

.section-icon{
    display: flex;
    justify-content: center;
    gap: 10px;

}
#icon-1{
    color: white;
    border-radius: 100%;
    padding: 24px;
    background-color: rgb(59, 59, 59);
}
#icon-2{
    color: white;
    padding: 24px;
    border-radius: 100%;
    background-color: rgb(59, 59, 59);
}
#icon-1:hover{
    color: black;
    background-color: #f1ebf8;
    border: 1px solid grey;

}
#icon-2:hover{
    color: black;
    background-color: #f1ebf8;
    border: 1px solid grey;
}


/* section-3 style */

.section-3{
    background-image: url("/assets/bg.png"), linear-gradient(to bottom, white, rgb(223, 197, 146));
    background-position: center;
    padding-left: 140px;
    padding-right: 140px;

}

.section-3-title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 38px;
    padding-top: 80px;
    padding-bottom: 20px;
    color: rgb(32, 32, 32);
}

.section-3-collage{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    margin: 5%; 
}

.imgt{
    border-radius: 12px;
    width: 100%;
    
}

.collage{
    grid-row: span 2;
    background-color: white;
    border-radius: 12px;
}

.btn_nov{
    padding: 16px 40px;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: #3CD8E8;
    position: absolute;
    margin-left: 50px;
    margin-top: -35px;
    border: none;
}

.btn_nov-1{
   padding: 8px 16px;
   border-radius: 30px;
   background-color: #FA3434;
   color: white;
   border: none;
   position: absolute;
   margin-left: 35px;
   margin-top: -20px;  
}

.btn_nov-2{
    padding: 8px 16px;
    border-radius: 30px;
    color: white;
    border: none;
    background-color: #443EEC;
    position: absolute;
    margin-left: 35px;
    margin-top: -20px;
}

.btn_nov-3{
    padding: 8px 16px;
    border-radius: 30px;
    color: white;
    border: none;
    background-color: #499301;
    position: absolute;
    margin-left: 35px;
    margin-top: -20px;
}

.btn_nov-4{
    padding: 8px 16px;
    border-radius: 30px;
    color: black;
    border: none;
    background-color: #F7D206;
    position: absolute;
    margin-left: 35px;
    margin-top: -20px;
}

.first_child_text{
    padding: 50px 200px 20px 50px;
    text-align: justify;
}

.first_child_text>h3{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

.first_child_text>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #808080;
}

.collage-1{
    background-color: white;
    border-radius: 12px;
}

.collage-1>p{
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    padding-top: 40px;
    text-align: justify;
}

.btn-2{
    margin-bottom: 80px;
    margin-top: 40px;
    margin-left: 45%;
    padding: 16px 55px;
    border-radius: 12px;
    border: none;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 19px;
}

/* Footer style */

.end{
    display: flex;
    justify-content: space-around;
    background-color: #51CEC1;
    align-items: center;
    height: 45vh;
    padding-left: 120px;
    padding-right: 120px;
}

.flex1{
    display: flex;
    align-items: center;
    font-size: 32px;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-description{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-about > a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.footer-about > h3{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer_title>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
